node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# TypeScript
*.tsbuildinfo
dist/

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/build

# Misc
.DS_Store
*.log
